body {
  background-color: #F1F0EA;
  color: #000000
}

main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center; 

}

button{
  background-color: transparent;
  color: rgba(0, 0, 0, 0, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;

}

button.with-text {
  width: auto;
  background-color:rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4;
  font-size: 1.4rem;
  line-height: 36px

}

button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}